<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>I'm Valeriy Bondarenko</h1>
    <p>This is my blog site for Applikey Solutions.</p>
    <p>I am trying to do my best :)</p>
  </div>
</div>